body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* #region header */
.header-main {
  justify-content: space-between;
  align-items: center;
}
nav {
  align-items: center;
}
.logo {
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.nav-ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-ul-a {
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 16px;
  color: #2e2f42;
}
.nav-ul-a:hover {
  color: #404bbf; /* Изменение цвета при наведении */
}
.nav-ul-a:focus {
  color: #404bbf;
}
.nav-ul-a:active {
  color: #404bbf; /* Цвет при клике */
}

.address {
  font-style: normal;
}
.address-li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-li:hover {
  color: #404bbf;
}
.address-li:focus {
  color: #404bbf;
}
/*  #endregion header */
/* #region section hero */
.hero {
  background-color: #2e2f42;
}
.hero-h-main {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion section hero */
/* #region feature */
.feature {
}
.feature-h-main {
  color: #2e2f42;
}
.feature h2 {
  color: #2e2f42;
}
.feature ul {
  justify-content: center; /* Центрируем */
}
.feature li {
  text-align: left;
}
.feature-strategy {
  margin-bottom: 10px;
}
.feature p {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* #endregion feature */
/* #region team */
.team {
  background-color: #f4f4fd; /* Цвет фона */
}
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-li {
  background-color: #ffffff;
}
.team-mark {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion team */
/* #region portfolio */
.portfolio {
}
.portfolio-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion portfolio */
/* #region footer */
.footer {
  background-color: #2e2f42;
  color: #4d5ae5;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-a {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/* #endregion footer */
