* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}
/* #region header */
.header-main {
  justify-content: space-between;
  align-items: center;
}
nav {
  align-items: center;
}
.logo {
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.nav-ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-ul-a {
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 16px;
  color: #2e2f42;
}
.nav-ul-a:hover {
  color: #404bbf; /* Изменение цвета при наведении */
}
.nav-ul-a:focus {
  color: #404bbf;
}
.nav-ul-a:active {
  color: #404bbf; /* Цвет при клике */
}

.address {
  font-style: normal;
}
.address-li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-li:hover {
  color: #404bbf;
}
.address-li:focus {
  color: #404bbf;
}
/*  #endregion header */
/* #region section hero */
.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-h-main {
  color: #2e2f42;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion section hero */
/* #region feature */
.feature {
  margin: 120px auto; /* Отступ сверху 120px, центрируем */
}
.feature-h-main {
  display: none;
  text-transform: capitalize;
  color: #2e2f42;
}
.feature ul {
  justify-content: center; /* Центрируем */
}
.feature li {
  max-width: 264px; /* Ограничение ширины */
  text-align: left;
}
.feature-strategy {
  margin-bottom: 10px;
}
.feature p {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* #endregion feature */
/* #region team */
.team {
  background-color: #f4f4fd; /* Цвет фона */
  text-align: center;
}
.team h2 {
  text-transform: capitalize;
  color: #2e2f42;
}
.team ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  align-items: center;
}
.team li {
  background-color: #fff;
  width: 264px;
}
.tim-mark {
  color: #2e2f42;
}
.tim-product {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion team */
/* #region portfolio */
.portfolio {
  margin: 120px auto;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  padding: 0;
}
.portfolio li {
  width: calc((100% - 48px) / 3);
  border: 1px solid #eee;
  border-radius: 6px;
  text-align: left;
}
.portfolio li img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}
.portfolio li h3 {
  margin: 0 0 8px;
  padding-left: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}
.portfolio li p {
  margin-bottom: 32px;
  padding-left: 16px;
  font-size: 0.9rem;
}
/* #endregion portfolio */
/* #region footer */
.footer {
  background-color: #2e2f42;
  color: #fff;
  height: 312px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.footer .logo {
  color: #fff;
  display: inline-block;
}

.footer p {
  margin-top: 10px;
  max-width: 264px;
}
.feature,
.team,
.portfolio,
.footer,
.header-main {
  padding-left: 156px;
  padding-right: 156px;
}
/* #endregion footer */
